@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

:root{
    --primary-color: #6b2d93;
    --off-white: #f1f5f9;
    --dark-grey: #64748b;
}
body{
    font-family: 'Montserrat',
    sans-serif;
}
hr{
    margin: 3rem 0rem;
}
.container{
    padding: 0rem 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-active{
    font-weight: bold;
}

.link-primary{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}
.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}
 .container a:hover{
    background-color: #360854;
    color: white;
}
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 1rem;
    border-bottom-left-radius: 4rem;
}
.navigation .nav-brand{
    font-size: 1.1rem;
}
.navigation .nav-pills{
    text-align: right;
}
.navigation a{
    color: white;
}
.hero{
    padding: 2rem;
}
.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}
.hero .hero-heading{
    padding-top: 1rem;
    color: var(--dark-grey);
    text-align: center;
}
.hero .heading-inverted{
    color: var(--primary-color);
}
.section{
    padding: 2rem;
}
.section h3{
    text-align: center;
    
}
.ow{
    background-color: var(--off-white);
}
footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    border-top-right-radius: 4rem ;
    color: white;
}
.footer .link {
    color: white;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.footer ul{
    padding-inline-start: 0px;
}